@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */
* {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 1em;
    font-family: Verdana, sans-serif;
    background-color: black;
    height: 100%;
    text-decoration: none;
}

h1 {
    color: black;
    font-size: 3em;
    width: 90%;
    display: inline;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: red;
    margin-bottom: 0px;
}

h1 span {
    top: -30px;
    right: -150px;
    position: relative;
    font-size: .5em;
}

h5 {
    color: white;
}

a {
    text-decoration: none;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 319px) {
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 40px;
        min-width: 320px;
        background-color: #161717;
    }

    .content {
        width: 85%;
        margin: 0 auto;
        top: 111px;
        position: relative;
    }

    .top {
        margin: 0 auto;
    }

    .top img {
        width: 100%;
        height: 50;
        top: -270px;
        position: absolute;
        margin: 0 auto;
        display: inline;
    }

    .left {
        display: inline-block;
        float: left;
    }

    .left img {
        width: 20%;
        position: absolute;
        display: inline-block;
        z-index: 0;
        left: -60px;
    }

    .right img {
        width: 30%;
        top: 200px;
        right: -80px;
        position: absolute;
        float: right;
    }

    .center {
        text-align: center;
    }

    .menu {
        margin: 0 auto;
        margin-top: 10px;
        color: white;
        flex-wrap: wrap;
    }

    .menu img {
        flex-basis: 33%;
    }

    .menu p {
        float: left;
        font-size: .70em;
        display: grid;
        text-align: center;
    }

    .text {
        font-family: arial;
        color: white;
        font-size: .95em;
        line-height: 1.35;
        margin: 0 auto;
        margin-top: 0px;
    }

    .map {
        margin: 0 auto
    }

    .buttons a:link, a:visited {
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 30px;
    }

    .buttons a:hover, a:active {
        background-color: red;
    }

    .abouttext {
        font-size: 1em;
        margin-bottom: 40px;
    }
}

/*----- Tablets, iPads (portrait) ----------*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.15em;
        width: 90%;
        -webkit-text-stroke-width: .5px;
        margin-bottom: 0px;
        display: contents;
    }

    h1 span {
        top: -10px;
        left: 180px;
        position: relative;
        font-size: .5em;
    }

    .container {
        width: 60%;
        margin: 0 auto;
        max-width: 800px;
        background-color: #161717;
        height: 100%;
    }

    .content {
        width: 55%;
        margin: 0 auto;
        top: 150px;
        position: relative;
        height: 100%;
        max-width: 900px;
    }

    .top img {
        width: 75%;
        height: 50;
        top: -350px;
        left: 50px;
        position: absolute;
        margin: 0 auto;
        display: inline;
    }

    .text {
        font-family: arial;
        color: white;
        font-size: .85em;
        line-height: 1.35;
        margin: 0 auto;
        margin-top: 0px;
    }

    .map img {
        display: run-in;
        width: 180%;
        margin: 0 auto;
        z-index: 0;
        opacity: .1;
        left: -160px;
        position: absolute;
        top: 400px;
    }

    .left img {
        display: inline-block;
        left: -100px;
    }

    .right img {
        width: 30%;
        top: 300px;
        right: -140px;
        position: absolute;
        float: right;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 60%;
        margin: 0 auto;
        max-width: 800px;
        background-color: #161717;
        height: 100%;
    }

    .content {
        width: 55%;
        margin: 0 auto;
        top: 150px;
        position: relative;
        height: 100%;
        max-width: 1200px;
    }

    .top img {
        width: 75%;
        height: 50;
        top: -350px;
        left: 50px;
        position: absolute;
        margin: 0 auto;
        display: inline;
    }
}